<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <div class="col-sm-4">
      <div class="well">
        <h3>Look I'm A Sidebar!</h3>
      </div>
    </div>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
