<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <div flex-gap-5>
          <img src="/img/images.jpg" alt="img" />
          <span>By Felipe Bolgar</span>
        </div>

        <h1>What is god?</h1>
        <p>
          I am writing this blog after returning from a party where I met a
          philosopher and spoke with him for several hours. I believe in nature,
          I Believe in the Big Bang and not in the god that everyone knows. This
          philosopher is Catholic and explained to me that God is not a entity
          but something, it is faith, it is the reason for our reasons. I am on
          the thoughtful side and I managed to understand that God It's what we
          call "what gives us hope." In various places God is described in
          different ways, but that God always has something in common, why we
          exist and how we give reason to our lives. Maybe it was the alcohol
          that made me more thoughtful, but it opened my mind to believing in
          "god." To see God you have to put aside the Bible and see him as
          something more global. Why do we find some people funnier than others?
          Or why do we dislike some people more than others? That's because
          there is always a maximum and minimum point in our lives and we call
          the maximum point God.
        </p>
        <h2>
          Geave your opinion of God and reply to others about your opinion
        </h2>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
